<section class="hero">
  <div class="hero-content">
    <p class="tagline">We are The Best</p>
    <h1>
      Learn Frome Home With <br /><span class="highlight">The Best</span> Online
      Languange Tutors
    </h1>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id interdum dui mollis. Suspendisse nulla:
    </p>
    <button class="cta">Try Free Lessons</button>
  </div>

  <div class="tutor-section">
    <div class="background-shape">
      <div class="flag flag-japan">
        <img src="../assets/images/unsplash_ZN2UhBtlrIY.svg"/>
      </div>
      <div class="flag flag-china">
        <img src="../assets/images/unsplash_mVsouITdpRs.svg"/>
      </div>
      <div class="flag flag-italy">
        <img src="../assets/images/unsplash_jf5SQVEKSFw.png"/>
      </div>
  
      <div class="tutor-info">
        <div class="icon">
          <img src="../assets/icons/Chart.svg"/>
        </div>
        <div class="text">
          <p><strong>200+ Tutors Online</strong></p>
          <div class="avatars">
            <img src="../assets/images/Ellipse 3.svg"/>
            <img src="../assets/images/Ellipse 4.svg">
            <img src="../assets/images/Ellipse 5.svg"/>
            <img src="../assets/images/Ellipse 6.svg">
            <span class="more">3+</span>
          </div>
        </div>
      </div>
    </div>
  
    <img src="../assets/images/pexels-andrea-piacquadio-3799837 1.png"class="main-person" />
  </div>
</section>
  