<section class="information">
    <div class="main-container">
        <div class="offer">
          <div class="offer-info">
              <p class="tagline">What do you want to learn?</p>
              <h1>What We Offer</h1>
              <p class="tagline">I want to learn</p>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reiciendis, error reprehenderit adipisci voluptatem soluta velit, beatae repudiandae pariatur quibusdam unde praesentium commodi? Libero?</p>
          </div>
          <div class="offer-flag">
              <img src="../assets/icons/Saint Barthélemy (BL).svg">
              <img src="../assets/icons/Saint Barthélemy (BL) (1).svg">
              <img src="../assets/icons/Saint Barthélemy (BL) (2).svg">
              <img src="../assets/icons/Saint Barthélemy (BL) (3).svg">
              <img src="../assets/icons/Saint Barthélemy (BL) (4).svg">
              <img src="../assets/icons/Saint Barthélemy (BL) (5).svg">
              <img src="../assets/icons/flag-tbn.png" class="img-special">
              <div class="view-all">
                  <p>View All</p>
                  <img src="../assets/icons/Arrow - Down 3.svg">
              </div>
          </div>
        </div>
    
        <div class="purchase">
          <div class="text-content">
            <h1>Purchase your awesome lessons and find your tutors</h1>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam at sed fuga ut dicta quo a doloribus quibusdam. Velit, quisquam.</p>
            <div class="btn-container">
              <button class="btn buy">Book Your Lessons</button>
              <button class="btn find">Find Your Tutors</button>
            </div>
          </div>
          
          <div class="circle-container">
            <div class="circle-border">
              <div class="icon icon-top"><img src="../assets/icons/Document.svg" alt="Top Icon"></div>
              <div class="icon icon-top-right"><img src="../assets/images/unsplash_6ie6OjshvWg.svg" alt="Top Right Icon"></div>
              <div class="icon icon-bottom-right"><img src="../assets/icons/Shield-Done.svg" alt="Bottom Right Icon"></div>
              <div class="icon icon-bottom"><img src="../assets/images/unsplash_4-EeTnaC1S4.svg" alt="Bottom Icon"></div>
          
              <div class="lesson-box">
                <img src="../assets/icons/Heart.svg" alt="Heart icon">
                <div class="text">1850+<br><span>Lessons</span></div>
              </div>
          
              <div class="center-image">
                <img src="../assets/images/pexels-tima-miroshnichenko-6914646 1.png" alt="Main Tutor">
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
